@import "./bootstrap_override.scss";

// https://coolors.co/101010-bf6900-ffd744

body {
  background-color: #313131;
}

.marginNav {
  margin-top: 100px;
}

a {
  text-decoration: none;
}
/* components/Spinner/Spinner.css */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

//FOOTER 10
.footer-10 {
  background: #222222;
  padding: 0 0 4em 0;
  .border-top,
  .border-bottom {
    border-color: rgba(255, 255, 255, 0.1) !important;
  }
  .footer-heading {
    font-size: 18px;
    color: $white;
    margin-bottom: 30px;
  }
  p {
    color: rgba(255, 255, 255, 0.3);
  }
  a {
    color: #ffd744;
  }
  .con {
    &.con-1 {
      background: darken(#222222, 2.5%);
    }
    &.con-2 {
      background: darken(#222222, 2.5%);
    }
    &.con-3 {
      background: darken(#222222, 2.5%);
    }
  }
  .list-unstyled {
    li {
      a {
        color: rgba(255, 255, 255, 0.2);
        &:hover {
          color: $white;
        }
      }
    }
  }
  .con-info {
    .icon {
      width: 50px;
      height: 50px;
      background: #ffd744;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px;
      span {
        color: $white;
        font-size: 24px;
      }
    }
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .subscribe-form {
    .form-group {
      position: relative;
      margin-bottom: 0;
      @include border-radius(0);
      input {
        background: rgba(255, 255, 255, 1) !important;
        border: none !important;
        outline: none !important;
        color: rgba(0, 0, 0, 0.3) !important;
        font-size: 16px;
        @include border-radius(0);
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(0, 0, 0, 0.3) !important;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(0, 0, 0, 0.3) !important;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(0, 0, 0, 0.3) !important;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(0, 0, 0, 0.3) !important;
        }
        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
      .submit {
        color: $white !important;
        display: block;
        width: 130px;
        height: 52px;
        font-size: 16px;
        background: #ffd744 !important;
        border: none;
        @include border-radius(0);
        &:hover,
        &:focus {
          text-decoration: none !important;
          outline: none !important;
        }
      }
    }
    .subheading {
      display: inline-block;
      margin-top: 5px;
      color: rgba(255, 255, 255, 0.3);
      font-size: 13px;
    }
  }
  .ftco-footer-social {
    li {
      a {
        background: rgba(255, 255, 255, 0.1);
        color: $white;
      }
    }
  }
}

// Dashboard

.dash-sidebar {
  // min-height: 100vh;
  background-color: #313131;
  padding: 5px;
  color: #fff;

  .sb {
    // padding: 5px;
  }
  .sb-profile {
    padding: 10px 0 15px 30px;
    border: 1px solid #ffd744;
    background-color: #111111;
  }
  .sb-drop {
    padding: 5px;
    background-color: #111111;
    border: 1px solid #ffd744;
    & a {
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 50px;
      text-align: left;
    }
  }
}

.dash-rightbar {
  // min-height: 100vh;
  background-color: #313131;
  padding: 5px;
  color: #fff;

  .rb {
    // padding: 5px;
  }
  h1 {
    padding: 10px 0 15px 30px;
    // background-color: #111111;
    color: #ffd744;
  }
}

//  HOME

.span-category {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid; /* Assumendo che border-2 sia 2px */
  padding-left: 0.5rem; /* px-2 corrisponde a 0.5rem */
  padding-right: 0.5rem; /* px-2 corrisponde a 0.5rem */
  padding-top: 1rem; /* py-3 corrisponde a 1rem */
  padding-bottom: 1rem; /* py-3 corrisponde a 1rem */
  cursor: pointer;
}

@media (min-width: 992px) {
  .span-category {
    padding-top: 1.5rem; /* py-lg-4 corrisponde a 1.5rem */
    padding-bottom: 1.5rem; /* py-lg-4 corrisponde a 1.5rem */
  }
}

.searchVorshim {
  margin-top: 10px;
  border: 3px solid #ffd744;
  background-color: #222222;
  color: #ffd744;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  bottom: 14px;
  right: 9px;
  width: 220px;
  padding: 0 18px;
}

.search-results {
  position: absolute;
  z-index: 50;
  margin-top: 10px;
  border: 3px solid #ffd744;
  background-color: #222222;
  outline: none;
  display: block;
  vertical-align: middle;
  width: 50%;
  padding: 0 18px;
  max-height: 300px; /* Altezza massima, puoi modificarla a piacere */
  overflow-y: auto; /* Aggiunge una barra di scorrimento verticale se necessario */
  left: 50%; /* Posiziona il lato sinistro al 50% del contenitore genitore */
  transform: translateX(-50%); /* Trasla l'elemento verso sinistra del 50% della sua larghezza */

  &-item {
    display: block;
    color: #ffd744;
    padding: 5px;
  }
}

.checkout {
  margin-top: 10px;
  background-color: #111111;

  .check-account {
    border: 3px solid #ffd744;
    background-color: #222222;
    padding: 0 18px;
  }
  .check-cart {
    border: 3px solid #ffd744;
    background-color: #222222;
    padding: 0 18px;

    .btn-checkout {
      background-color: #ffd744;
      color: #111111;
    }
  }
}
